:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --background-dark: #2f303a;
  --backround-middle: #f5f4fa;
  --white: #ffffff;
  --light-grey: rgba(255, 255, 255, 0.6);
  --middle-margin: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow-y: hidden;
}

/*Утилиты*/

li {
  list-style-type: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* Шапка */

.header {
  background-color: var(--white);
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__connect {
  margin-left: auto;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.11;

  color: var(--accent-color);
}
.logo span {
  color: var(--title-text-color);
}

.site-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__current {
  color: var(--accent-color);
  position: relative;
}
.site-nav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.header__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header__mail {
  color: var(--accent-color);
}
.header__item {
  margin-left: auto;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__icon {
  padding: 0;
  border: none;
  background-color: inherit;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: var(--accent-color);
}

/* Кнопка */

.button-section {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: var(--base-margin);
}

.overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imgs/bckgr.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--title-text-color);
}

.button-section__button {
  min-width: 200px;
  margin: 0;
  padding-bottom: 200px;

  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;

  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-section__button:hover,
.button-section__button:focus {
  background-color: #188ce8;
}

.button-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*Модалка*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  padding: 40px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  background-color: var(--white);
  color: #000000;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__button:hover .modal__icon {
  fill: var(--accent-color);
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field:nth-child(5) {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-text-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__conteiner {
  position: relative;
}
.form__textarea {
  padding: 12px 16px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.form__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../imgs/icons.svg/icon-check.svg");
  background-size: cover;
  background-position: center;
}
.checkbox__agreement {
  font-size: 14px;
  line-height: 1.7;

  margin-left: 8.38px;
}
.checkbox__link {
  color: var(--accent-color);
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
}

/* Преимущества */

.features-section {
  padding-bottom: 0;
}

.features-section__list {
  display: flex;
}

.features-section__item {
  width: 270px;
}

.features-section__item:not(:last-child) {
  margin-right: 30px;
}

.features-section__part {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--backround-middle);
}

.features-section__icon {
  width: 70px;
  height: 70px;
}

.features-section__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Услуги */

.services__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.services__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.services__container:not(:last-child) {
  margin-right: 30px;
}

.services__item {
  position: relative;
  width: 370px;
  height: 294px;
}
.services__actions {
  position: absolute;
  top: 77%;
  left: 0;
  display: flex;
}
.icon {
  width: 370px;
  height: 70px;
}
/* Команда */

.hero {
  background-color: #f5f4fa;
  margin-bottom: var(--base-margin);
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__container:not(:last-child) {
  margin-right: 30px;
}

.hero__item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.hero__text {
  padding: 30px 30px 0px 30px;
  margin-bottom: 16px;
}
.hero__name {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.position {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.hero__buttons {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-bottom: 30px;
}
.hero__buttons .hero__btn {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:focus,
.hero__btn:hover {
  background-color: var(--accent-color);
  fill: white;
}
.hero__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__buttons {
  margin-bottom: 50px;
}

.hero__btn:hover .hero__icon,
.hero__btn:hover .hero__icon {
  fill: var(--white);
}

.hero__icon:hover,
.hero__icon:focus {
  background-color: var(--accent-color);
  fill: var(--white);
}

.hero__btn:hover .hero__icon,
.hero__btn:focus .hero__icon {
  fill: var(--white);
  background-color: var(--accent-color);
}

/*Постоянные клиенты*/

.clients-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.clients-section {
}
.clients-container {
  display: flex;
}
.clients-list {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding-bottom: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
.clients-list:focus,
.clients-list:hover {
  border-color: var(--accent-color);
}
.clients-list-icon:focus,
.clients-list-icon:hover {
  fill: var(--accent-color);
}
.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  fill: #afb1b8;
}
.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Футер */

.footer {
  background-color: var(--background-dark);
  padding-bottom: 60px;
  padding-top: 60px;
  left: 0px;
}
.footer-body {
  display: flex;
  align-items: flex-start;
}
.footer-left {
  margin-right: 0;
  margin-right: 70px;
  align-items: left;
  justify-content: left;
}
.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;

  color: var(--accent-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.logo-footer span {
  color: var(--white);
}

.footer-contact {
  color: var(--light-grey);

  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}
.footer-contact a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .contact-adress {
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer-socialmedia {
  padding-top: 10px;
}
.join {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-decoration: none;
}
.join-sociallinks {
  display: flex;
}
.join-item {
  width: 44px;
  height: 44px;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}

.footersoc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footersoc-item:hover,
.footersoc-item:focus {
  background-color: var(--accent-color);
}
.footer-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}
.footersoc-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}
.footer-form {
  display: flex;
  align-items: flex-end;

  margin-left: 93px;
  padding-top: 12px;
}

.footer-form__field {
  display: flex;
  flex-direction: column;
}
.footer-form__label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form__input {
  margin-right: 12px;
  padding: 15px 15px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-form__button {
  display: flex;
  align-items: center;
  padding: 10px 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover,
.footer-form__button:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  margin-left: 10px;

  fill: var(--white);
}

/* Портфолио */
.page-header .second {
  width: 1600px;
  position: absolute;
  margin-bottom: 100;
  border-bottom: 1px solid #ececec;
}

/* Фильтр */
.img {
  margin-bottom: 50px;
}
.project-buttons {
  display: flex;
  justify-content: center;
}
.button-item .btn-portfolio {
  min-width: 8px;
  margin: 0;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  background-color: var(--backround-middle);
  color: var(--title-text-color);
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #f5f4fa;
  letter-spacing: 0.03em;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item .btn-portfolio-current {
  background-color: var(--accent-color);
  color: var(--white);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.portfolio-buttons .li {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 70px;
  margin: 0;
  padding: 10px 32px;
  background-color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item {
  border-radius: 4px;
  margin-right: 8px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
/* Проекты */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  text-decoration: none;
}
.projects-item {
  width: calc((100% - 90px) / 3);
  margin: 15px;

  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
}

.projects-overley {
  position: relative;
  overflow: hidden;
}

.projects-overley-conteiner {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.projects-item:hover .projects-overley-conteiner {
  transform: translateY(0);
}

.projects-overley-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
