// .clients {
// }

.clients__title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}
// .clients__iconlinks {
// }

.clients__list {
  display: flex;
}

// .clients__item {
//   box-sizing: border-box;
//   width: calc((100% - 150px) / 6);
//   padding-bottom: 0;
//   border: 1px solid #afb1b8;

//   border-radius: 4px;

//   cursor: pointer;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   fill: #afb1b8;
// }

// .clients__link {
//   border: 1px solid #afb1b8;
//   box-sizing: border-box;
//   border-radius: 4px;
//   padding-bottom: 0;
//   cursor: pointer;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   fill: #afb1b8;
// }

// .clients__icon {
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 150px) / 5);
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  //   padding-bottom: 0;
  //   cursor: pointer;
  //   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //   fill: #afb1b8;
}
.clients__link:not(:last-child) {
  margin-right: 30px;
}
.clients__link:focus,
.clients__link:hover {
  border-color: var(--accent-color);
}
// .clients__item:focus,
// .clients__item:hover {
//   fill: var(--accent-color);
// }
