.header {
  width: 100%;
}
.header-studio {
  background-color: var(--white);
  border: 1px solid #ececec;
}

.header-container {
  @media screen and (max-width: 767px) {
    position: relative;
    height: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  }
  // display: flex;
  align-items: center;
  margin-left: auto;
}

.header-portfolio {
  background-color: var(--white);
  border: 1px solid #ececec;
}

.header span {
  color: var(--title-text-color);
}
