.header {
  &-studio {
    background-color: var(--white);
    border: 1px solid #ececec;
  }

  &-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &-portfolio {
    background-color: var(--white);
    border: 1px solid #ececec;
  }
}
